@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
     
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

.nav-left{
    width: 50%;
    justify-content: space-around;
    margin-left: 2pc;
    margin-top: 1.2pc;
}

.nav-right{
    width: 50%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    margin: 10px 10px;
    margin-top: 1.6pc;
}

a{ 
    color: var(--Verydarkblue);
    text-decoration: none;
    font-weight: 400;
}

a:hover{
    color: var(--red);
    cursor: pointer;
}

.page{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4pc;
  
    
   
}


.first{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 2.6pc;

}

.first-image{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 45%;
}


.firstbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1pc;
}
.first-future{
    display: flex;
    flex-direction: row;
    width: 35%;
    font-weight: 700;
    font-size: 28px;
    justify-content: space-around;
    text-align: left;
    color: var(--Verydarkblue);

}

.first-left{
    display: flex;
    flex-direction: column;
    width: 65%;
    font-size: 16px;
    color: var(--Darkgrayishblue);
}

.first-left button{
    margin: 4px 4px;
    padding: 4px 10px;
    background-color: var(--red);
    color: var(--Verydarkblue);
    border-radius: 2px;
    border: none;
    width: 30%;
    margin-top: 0.2pc;
    height: 30%;
    cursor: pointer;
    margin-left: 2pc;
    
}

.first-left button:hover{
    color: var(--white);
    background-color: var(--Verydarkblue);
}

.rightbox{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 4pc;
    background-color: var(--Verydarkblue);
    color: var(--white);
    height: 60%;
}


.right{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.right h1, h3,p{
    margin-left: 2pc;
    margin-top: 1.5pc;
    margin-bottom: 1.5pc;

    
}

.right h1{
    color: var(--orange);
}

.right p{
    color: var(--Grayishblue);
}

.right h3:hover{
    color: var(--orange);
}

.right hr{
    color: var(--Grayishblue);
    width: 85%;
    margin-left: 2pc;
}

.pageend{
    display: flex;
    flex-direction: column;
    margin-top: -10pc;
    
}
.last{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 2.6pc;
}

.lastbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.lastimg{
    width: 50%;
}

.lastimg img{
    height: 80%;
    width: 60%;
}



.lastcard{
    width: 50%;
    height: 30%;
    margin-left: -6.5pc;
}

.lastcard h1{
    color: var(--red);
    margin-left: 2pc;
    font-weight: 700;
}

.lastcard h3{
    margin-top: 0.7pc;

}

.lastcard h3:hover{
    color: var(--red);
    cursor: pointer;
}

.lastcard p{
    width: 100%;
    margin-top: -0.5pc;
}



@media (max-width:1280px) and (min-width:852px){

.first-image img{
    width: 70vw;
    height: 38vh;
}

.firstbox{
    margin-top: 6pc;
}

.last{
    margin-top: 8pc;
}

}

@media (max-width:1187px){

.first-image img{
    width: 62vw;
}

}



@media  (min-width:738px) and (max-width:1024px) {

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}
    
.nav-left{
    width: 50%;
    justify-content: space-around;
    margin-left: 1pc;
    margin-top: 1.2pc;
}
    
.nav-right{
    width: 50%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    margin: 10px 10px;
    margin-top: 1.6pc;
}

.first{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1.6pc;

}

.first-image{
    display: flex;
    flex-direction: row;
    width: 28%;
    height: 33%;
}

.first-future{
    width: 40%;
    font-weight: 700;
    font-size: 28px;
    justify-content: space-around;
    text-align: left;
    color: var(--Verydarkblue);

}

.first-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 16px;
    color: var(--Darkgrayishblue);
   
}

.first-left button{
    margin: 4px 4px;
    padding: 4px 10px;
    background-color: var(--red);
    color: var(--Verydarkblue);
    border-radius: 2px;
    border: none;
    width: 60%;
    margin-top: 0.2pc;
    height: 30%;
    cursor: pointer;
    margin-left: 2pc;
    
}

.rightbox{
    display: flex;
    flex-direction: row;
    width: 28%;
    margin-left: 9.5pc;
    background-color: var(--Verydarkblue);
    color: var(--white);
    height: 60%;
}

.pageend{
    margin-top: -10pc;
}

.last{
    margin-left: 1.6pc;
    margin-top: 12pc;
}

.lastcard{
    width: 50%;
    height: 30%;
    margin-left: -5pc;
}

.lastcard h1{
    color: var(--red);
    margin-left: 2pc;
    font-weight: 700;
}

.lastcard h3{
    margin-top: 0.7pc;

}








}

@media (max-width:984px) and (min-width:778px) {
.first{
    margin-bottom: 5pc;
}
.firstbox{
    width: 60vw;
    margin-top: 8pc;
}

.first-image img{
    width: 62vw;
    height: 40vh;
}

.first-left button{
    height: 40%;
    padding: 10px 10px;
}

.last{
    margin-top: 9pc;
}
    
}




@media (max-width:768px) and (min-width:554px){

body{
    overflow-x: hidden;
}

.first{
    margin-bottom: 8pc;
}
.first-image{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 50%;
}

.first-future{
    width: 40%;
    font-weight: 600;
    font-size: 22px;
    justify-content: space-around;
    text-align: left;
    color: var(--Verydarkblue);

}

.first-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 12px;
    color: var(--Darkgrayishblue);
   
}

.first-left button{
    margin: 4px 4px;
    padding: 7px 10px;
    background-color: var(--red);
    color: var(--Verydarkblue);
    border-radius: 2px;
    border: none;
    width: 60%;
    margin-top: 0.2pc;
    height: 50%;
    cursor: pointer;
    margin-left: 2pc;
    
}

.rightbox{
    display: flex;
    flex-direction: row;
    width: 32%;
    margin-left: 7pc;
    background-color: var(--Verydarkblue);
    color: var(--white);
    height: 30%;
}

.right h1{
    margin-bottom: 0.7pc;
}
.right h3{
font-size: 16px;
}

.right p{
    font-size: 12px;
}

.pageend{
    margin-top: -10pc;
}

.last{
    margin-left: 1.6pc;
    
    
}

.lastcard{
    width: 40%;
    height: 30%;
    margin-left: -5pc;
}



.lastcard h1{
    color: var(--red);
    margin-left: 2.4pc;
    font-weight: 700;
    
}

.lastcard h3{
    margin-top: 0.7pc;
    margin-left: 2.5pc;
    font-size: 14px;

}

.lastcard p{
    margin-left: 2.5pc;
    font-size: 10px;
}


}



@media (min-width:375px) and (max-width:554px){

.nav-left{
    margin-left: 0.5pc;
}

.nav-right{
    display: none;
}
.page{
    display: flex;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
}
.first{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.first, .rightbox, .pageend{
    overflow-x: hidden;
    overflow: hidden;
    margin-left: 1pc;
}

.first-image img{
    width: 90vw;
    height: 50vh;    
    display: flex;
    flex-direction: column;
}

.firstbox, .first-future, .first-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-future{
    width: 90%;
}

.first-left{
    margin-left: -2pc;
    font-size: 16px;
    word-spacing: 2px;


}

.first-left button{
    width: 45vw;
    height: 8vh;
    padding: 6px 6px;
    margin-bottom: 2pc;
}


.rightbox{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 6pc;
}

.last{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 6pc;
    margin-left: 0;
}

.lastcard{
  margin-left: -5.5pc;
  width: 60vw;
}



}

@media (min-width:320px) and (max-width:554px){
.nav-left{
    margin-left: 0.5pc;
}

.nav-right{
    display: none;
}
.page{
    display: flex;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
}
.first{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.first, .rightbox, .pageend{
    overflow-x: hidden;
    overflow: hidden;
    margin-left: 1pc;
}

.first-image img{
    width: 90vw;
    height: 50vh;    
    display: flex;
    flex-direction: column;
}

.firstbox, .first-future, .first-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-future{
    width: 90%;
}

.first-left{
    margin-left: -2pc;
    font-size: 16px;
    word-spacing: 2px;


}

.first-left button{
    width: 45vw;
    height: 8vh;
    padding: 6px 6px;
    margin-bottom: 2pc;
}


.rightbox{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 6pc;
}

.last{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 6pc;
    margin-left: 0;
}

.lastcard{
  margin-left: -5.5pc;
  width: 60vw;
}

}